:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-size: larger;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("https://kinopoiskapiunofficial.tech/static/media/bg.890f24ce.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}